# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# PyInstaller (No queremos subir lo compilado, solo el código)
build/
dist/
*.spec
_internal/

# Otros
.vscode/
.idea/
dist.rar
gui_main (stitch).html